岗位1:腾讯后端开发实习生
岗位描述
负责实现和优化公司的产品功能，以及构建和维护关键服务与基础设施。
1、深入理解业务需求和产品设计，高效地实现并优化产品功能;
2、持续优化架构，提升关键服务和基础设施的稳定性与可用性;
3、通过引入新的工具和流程，提升团队的开发效率和代码质量;
4、通过与产品和前端工程师的紧密合作，共同推进产品的迭代与优化;
5、对线上问题进行快速定位并解决，对服务性能进行监控与优化;
6、参与新技术的研究和探索，为团队的技术进步和产品创新提供支持。
岗位要求
必须具备的:
1、扎实的编程能力;
2、熟练掌握CC+/8Wa/60等其中一门开发语言;TCPADP网络协议及相关编程、进程问通讯编程;专业软件知识，包括算法、操作系统、软件工程、设计模式、数据结构、数据库系统、网
络安全等。
有一定了解的:
1、Python、Shell、Perl等脚本语言;
2、MySQL及SQL语言、编程;
3、NoSQL, Key-value存储原理。
加分项或注意事项
1、分布式系统设计与开发、负载均衡技术，系统容灾设计，高可用系统等知识;
2、对云原生相关技术有所了解。
岗位2:腾讯AI开发实习生
岗位描述
1、参与AI应用产品的设计、开发与迭代，将大语言模型能力落地到实际业务场景;
2、参与智能Agent的设计与开发，通Promp工程、知识库系统建设实现复杂任务的AI自动化处理;3、跟踪AI领域前沿技术，探索创新应用方案。
岗位要求
1、了解主流Agent建设框架平台的使用与二次开发知识;
2、了解LLM的部署、调用，对提示词工程建设、调优有一定的经验与心得;
3、了解Embedding模型原理与应用;熟悉向量数据库使用;了解知识召回策略(如混合检索、Rerank等);4、除LLM外，对传统机器学习、NLP、CV等算法有一定了解和实践经验更佳;5、具备良好的沟通表达能力和团队协作精神，思维敏捷，善于举一反三。
岗位3：美团agent开发实习生
岗位职责
1.参与AI Agent核心系统开发，包括Prompt工程、Chain、Harness 和技能模块(Skills);2.实现中小型功能模块或系统优化，支持任务自动化和上下文管理;3.学习并实践系统性能调优，在多任务、高并发环境中积累工程经验;4.跟踪业界大模型应用与Agent技术动态，参与技术调研、方案评估与落地。
岗位基本要求
1.熟悉至少一种高级编程语言(Java/Python等)，具备基础算法和数据结构能力;
2.计算机或相关专业背景，计算机基础扎实;
3.熟悉关系型数据库及SQL开发;
4.具备良好沟通能力，能够分析问题并提出解决方案;
5.对大模型应用、Agent系统、Prompt工程及AI工程化有浓厚兴趣，乐于探索新技术。
具备以下条件优先
1.有大模型应用开发、Prompt编写或调优经验者优先;
2.有Agentic 系统或相关开源项目经验(如 Claude Code、DeepAgent、OpenClaw、LangGraph等)者优先;3.熟悉技能模块加载及上下文管理经验者优先。
岗位4：字节跳动 AI Agent开发实习生-App Infra
职位描述
日常实习:面向全体在校生，为符合岗位要求的同学提供为期3个月及以上的项目实践机会。团队介绍:App Infra是字节跳动面向应用的基建中台部门，以App侧性能/稳定性深度优化为基础，结合LLM、Agent、生成式推荐模型等前沿技术，为字节跳动旗下的核心应用提供终端+平台的解决方案。于下层，结合操作系统、虚拟机、工具链、编译器等技术，建设了稳定性、流畅性、电量在内全链路的监控体系和调试分析工具;于上层，则结合端侧特征工程、深度学习模型/决策树模型/SLM训练等基建，围绕搜索/推荐/广告/直播/电商等场景，建设了云端协同推荐、品质体验优化等端智能解决方案。如果你热爱挑战底层技术、追求极致优化，又渴望把AI转化为千万用户感受得到的流畅与智能--欢迎加入，和我们一起打造下一代移动体验!
1、面向字节跳动客户端研发场景，搭建稳定、高效的AgentHarness(涵盖移动运行时知识库、Skills&CLI、规模化验证体系等)，并基于Trace机制持续优化长程执行的效率与效果;
2、面向客户端研发全流程，整合Issue Diagnosis、Coding、回顾与Validation等能力，构建并标准化AIAgent体系，推动在TRAE等IDE及研发平台的规模化落地，持续提升Agent在真实研发场景中的稳定性、可控性与研发效率。
职位要求
1、本科及以上学历在读，计算机、软件工程等相关专业优先;
2、具备扎实的软件工程基础与客户端研发经验，有完整的研发流程经历;
3、熟悉大模型与AIAgent相关技术，具备良好协作能力，能与团队协作持续优化Agent效果。
加分项
1、具备在IDE或研发平台侧推动能力落地的实践经验;
2、有AI Coding、自动化测试或开发工具链相关项目经验者优先。